<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>


        <main>
            <div>
                    <article>
                        <h2>
                               <%= coffee.flavor %>  - <%= coffee.readyToEat ? "Ripe" : "Not ripe" %>  - 
                        </h2>
                            <h3> <%= coffee.color %> </h3>
                            <a href="/coffees/<%= coffee._id %>/edit">
                               <button>Edit</button>
                            </a>
                            <form action="/coffees/<%= coffee._id %>?_method=DELETE" method="POST">
                                <input type="submit" value="Delete" />
                            </form>
                            <a href="/coffees/"> 
                                <button>Back</button>
                            </a>
                    </article>

            </div>
        </main>
    </body>
</html>

<!DOCTYPE html>
<html lang="en">
	<%- include("../partials/head.ejs") %>

	<body>
		<%- include("../partials/header.ejs") %>
		<main>
			<div>
				<article>
					<h2> Name : <%= coffee.name %> </h2>
					<h4> Bean <%= coffee.bean %></h4>
					<h4> Expresso Shot:<%=coffee.expressoShot ? "Yes" : "No" %></h4>
					<h4>  Flavor <%= coffee.flavor %></h4>
					<h4> Sugar:<%= coffee.sugar %></h4>
					<h4> Iced: <%= coffee.iced ? "iced" : "no ice" %> </h4>
                    <h4> Size: <%= coffee.size %></h4>
					<img
						class="showimg"
						src="<%=sneaker.img %>"
						alt="Picture of <%=sneaker.name %>"
					/>
					<a href="/coffees/<%= coffee._id %>/edit"><button>Edit</button></a>
					<form
						action="/coffees/<%= coffee._id %>?_method=DELETE"
						method="POST"
					>
						<input type="submit" value="Delete" />
					</form>
					<a href="/coffees/"><button>Back</button></a>
				</article>
			</div>
		</main>
	</body>
</html>